@use 'base';

$a-font: Arimo,
sans-serif;

@mixin footer-text($f-size: 18px) {
    font-family: $a-font;
    font-size: $f-size;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-content {

    .user-account {

        .user-account-container {
            display: flex;
            justify-content: space-between;

            .user-account-logo {
                margin: 18px 0;
                margin-left: 10px;
                width: 86px;
                height: 86px;
                border-radius: 100%;
                background: url(../../assets/icons/userAccaunt.png) no-repeat center center;
                background-size: cover;
            }

            .user-account-menu {
                margin: 50px 0;

                .user-account-menu-list {
                    display: flex;
                    justify-content: space-between;

                    .user-account-menu-list-item {
                        display: block;
                        padding: 0 15px;
                        border-left: 1px solid #D1D1D1;
                        font-family: $a-font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        letter-spacing: 0.12em;
                        text-transform: capitalize;
                        color: #111111;
                        transition: all 0.2s;

                        .user-account-menu-list-link {
                            color: #111111;
                        }
                    }

                    .user-account-menu-list-item:first-child {
                        border: none;
                        padding-left: 0;

                        .user-account-menu-list-link {
                            color: #ED553B;
                        }
                    }

                    .user-account-menu-list-item:last-child {
                        padding-right: 0;
                    }

                    .user-account-menu-list-item:hover {
                        font-size: 19px;

                        .user-account-menu-list-link {
                            color: #ED553B;
                        }
                    }
                }
            }

            .cart-container {
                position: relative;
                width: 86px;
                height: 86px;
                margin: 18px 10px 18px 0;
                padding: 10px 20px 20px 20px;

                .cart-button {
                    width: 100%;
                    height: 100%;
                    background: url(../../assets/icons/toCartIcon.svg) no-repeat center center;
                    background-size: contain;
                }

                .cart-button:hover {
                    cursor: pointer;
                }

                .cart-number {
                    display: none;
                    width: 25px;
                    height: 25px;
                    padding: 1px;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    font-family: $a-font;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    text-transform: capitalize;
                    background-color: #ED553B;
                    color: #FFF;
                    border-radius: 100%;
                }

                .cart-number-vivsible {
                    display: block;
                }

                .cart-popup {
                    display: none;
                    position: fixed;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    background-color: rgba(0, 0, 0, 0.8);

                    .cart-popup-container {
                        position: relative;
                        max-width: 1000px;
                        max-height: 800px;
                        background: linear-gradient(78.43deg, #FBEEEE -27.34%, #F7FFFE 89.92%);
                        margin: 5% auto;
                        padding: 60px 44px 56px 44px;
                        border: 1px solid #888;
                        border-radius: 10px;

                        .cart-popup-title {
                            margin-bottom: 40px;
                            font-family: $a-font;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 44px;
                            color: #393280;
                        }

                        .cart-popup-items-container {
                            margin: 0 auto;
                            margin-bottom: 40px;
                            padding: 10px 20px 0 20px;
                            max-height: 300px;
                            max-width: 700px;
                            overflow: overlay;
                            // border: 1px solid #888;
                            border: none;
                            border-radius: 5px;

                            .cart-popup-item {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin: 0 auto;
                                padding: 20px 0;
                                // border-bottom: 1px solid #888;

                                .cart-popup-item-cover-container {
                                    width: 90px;
                                    height: 120px;
                                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

                                    .cart-popup-item-cover {
                                        width: 100%;
                                        height: 100%;
                                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                                    }
                                }

                                .cart-popup-item-description {
                                    width: 390px;
                                    // padding: 20px;

                                    .cart-popup-item-description-title {
                                        margin-bottom: 20px;
                                        font-family: $a-font;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 24px;
                                        // line-height: 58px;
                                        text-transform: capitalize;
                                        color: #393280;
                                    }

                                    .cart-popup-item-description-author {
                                        margin-bottom: 15px;
                                        font-family: $a-font;
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 13px;
                                        line-height: 16px;
                                        letter-spacing: 0.16em;
                                        text-transform: uppercase;
                                        color: #888888;
                                    }

                                    .cart-popup-item-description-price {
                                        margin-bottom: 10px;
                                        font-family: $a-font;
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 20px;
                                        line-height: 28px;
                                        letter-spacing: 0.02em;
                                        text-transform: capitalize;
                                        color: #ED553B;
                                    }
                                }

                                .cart-popup-item-delete-button {
                                    width: 75px;
                                    height: 75px;
                                    background: url(../../assets/icons/trashIcon.png) no-repeat center center;
                                    background-size: cover;
                                }

                                .cart-popup-item-delete-button:hover {
                                    cursor: pointer;
                                }
                            }

                            .cart-empty {
                                display: block;
                                margin-top: 50px;
                                margin-bottom: 94px;
                                font-family: $a-font;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 23px;
                                line-height: 16px;
                                letter-spacing: 0.16em;
                                text-transform: uppercase;
                                color: #888888;
                                text-align: center;
                            }

                            .cart-empty-invisible {
                                display: none;
                            }
                        }

                        .cart-popup-down-container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .cart-popup-total-cost {
                                display: block;
                                margin: 10px 0;
                                margin-bottom: 10px;
                                font-family: $a-font;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 22px;
                                line-height: 28px;
                                letter-spacing: 0.02em;
                                color: #ED553B;
                            }

                            .cart-popup-total-cost-visible {
                                display: block;
                            }

                            .cart-popup-checkout-button {
                                padding-top: 13px;
                                display: block;
                                width: 200px;
                                height: 60px;
                                border: 1px solid #888;
                                font-family: $a-font;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 220%;
                                letter-spacing: 0.1em;
                                text-transform: uppercase;
                                color: #888;
                                text-align: center;
                                transition: all 0.3s ease;
                                pointer-events: none;
                            }

                            .cart-popup-checkout-button-active {
                                border: 1px solid #ED553B;
                                color: #ED553B;
                                pointer-events: all;
                            }

                            .cart-popup-checkout-button-active:hover {
                                cursor: pointer;
                            }

                            .cart-popup-checkout-button-active:active {
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                                transform: translateY(2px);
                            }
                        }

                        .cart-popup-down-container-visible {
                            display: flex;
                        }

                        .cart-popup-close-button {
                            position: absolute;
                            right: 1%;
                            top: 10px;
                            width: 25px;
                            height: 25px;
                            background: url(../../assets/icons/closeBtnIcon.png) no-repeat center center;
                            background-size: cover;
                        }

                        .cart-popup-close-button:hover {
                            cursor: pointer;
                        }
                    }
                }

                .cart-popup-visible {
                    display: block;
                }
            }
        }
    }

    .new-books {
        padding: 70px 12px;
        background-color: #FCECEC;

        .new-books-description {
            margin-bottom: 20px;
            font-family: $a-font;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #7A7A7A;
        }

        .new-books-title {
            margin-bottom: 63px;
            font-family: $a-font;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;
            text-align: center;
            text-transform: capitalize;
            color: #393280;
        }

        .new-books-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .book {
                width: 326px;

                .book-cover-container {
                    position: relative;
                    margin-bottom: 24px;
                    padding: 54px 49px;
                    width: 100%;
                    height: 438px;
                    background: #FFFFFF;
                    border: 1px solid #EAE8DF;
                    border-radius: 5px;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
                    overflow: hidden;


                    .book-cover {
                        display: block;
                        width: 100%;
                        height: 100%;
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
                    }

                    .to-cart {
                        padding: 15px 0;
                        top: 310px;
                        left: -257px;
                        position: absolute;
                        width: 257px;
                        height: 50px;
                        font-family: $a-font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: 0.14em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        background-color: #ED553B;
                        transition: left 0.3s;
                    }

                    .more-info {
                        padding: 15px 0;
                        top: 370px;
                        left: -257px;
                        position: absolute;
                        width: 257px;
                        height: 50px;
                        font-family: $a-font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: 0.14em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        background-color: #393280;
                        transition: left 0.3s 0.2s;
                    }

                    .book-hover {
                        left: 0;
                    }

                    .book-hover:hover {
                        cursor: pointer;
                    }

                    .book-hover:active {
                        color: #888888;
                    }
                }

                .book-name {
                    margin-bottom: 11px;
                    font-family: $a-font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 27px;
                    text-align: center;
                    text-transform: capitalize;
                    color: #393280;
                }

                .book-author {
                    margin-bottom: 21px;
                    font-family: $a-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: #888888;
                }

                .book-descr {
                    display: none;
                }

                .book-price {
                    margin-bottom: 57px;
                    font-family: $a-font;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: #ED553B;
                }

                .book-popup {
                    display: none;
                    position: fixed;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    background-color: rgba(0, 0, 0, 0.8);

                    .book-popup-container {
                        position: relative;
                        width: 1200px;
                        height: 800px;
                        display: flex;
                        justify-content: space-around;
                        background: linear-gradient(78.43deg, #FBEEEE -27.34%, #F7FFFE 89.92%);
                        margin: 5% auto;
                        padding: 80px 64px 76px 64px;
                        border: 1px solid #888;
                        border-radius: 10px;

                        .book-popup-cover-conteiner {
                            width: 410px;
                            height: 600px;
                            padding: 10px;
                            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
                            background-color: #FFF;

                            .book-popup-cover {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .book-popup-content-conteiner {
                            width: 50%;
                            padding-top: 40px;

                            .book-popup-title {
                                margin-bottom: 45px;
                                font-family: $a-font;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 32px;
                                line-height: 58px;
                                text-transform: capitalize;
                                color: #393280;
                            }

                            .book-popup-author {
                                margin-bottom: 30px;
                                font-family: $a-font;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 13px;
                                line-height: 16px;
                                letter-spacing: 0.16em;
                                text-transform: uppercase;
                                color: #888888;

                            }

                            .book-popup-descr {
                                margin-bottom: 35px;
                                font-family: $a-font;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 208%;
                                letter-spacing: 0.02em;
                                color: #7A7A7A;
                                text-align: justify;
                            }

                            .book-popup-price {
                                margin-bottom: 60px;
                                font-family: $a-font;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 23px;
                                line-height: 28px;
                                letter-spacing: 0.02em;
                                text-transform: capitalize;
                                color: #ED553B;
                            }

                            .book-popup-button {
                                width: 200px;
                                height: 60px;
                                border: 1px solid #393280;
                                font-family: $a-font;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 220%;
                                letter-spacing: 0.1em;
                                text-transform: uppercase;
                                color: #393280;
                                transition: all 0.3s ease;
                            }

                            .book-popup-button:hover {
                                cursor: pointer;
                            }

                            .book-popup-button:active {
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                                transform: translateY(2px);
                            }
                        }

                        .book-popup-close-button {
                            position: absolute;
                            right: 1%;
                            top: 1%;
                            width: 25px;
                            height: 25px;
                            background: url(../../assets/icons/closeBtnIcon.png) no-repeat center center;
                            background-size: cover;
                        }

                        .book-popup-close-button:hover {
                            cursor: pointer;
                        }
                    }
                }

                .book-popup-visible {
                    display: block;
                }
            }


        }
    }
}